/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", sans-serif; 
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  min-height: 100vh;
  color: white;
  background: linear-gradient(#0b004e,#1d152f,#002834)
}